@import url('https://fonts.cdnfonts.com/css/baloo-chettan-2');
@import url('https://fonts.cdnfonts.com/css/kg-always-a-good-time');

body {
  font-family: 'Baloo Chettan 2', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

form {
  width: 400px;
  text-align: center;
  background: #FCFBFB;
  border-radius: 64px;
  padding: 20px; /* Añade un relleno para mejorar la apariencia */
  margin-top: 20px;
}

form div {
  margin-bottom: 20px; /* Espaciado entre elementos dentro del formulario */
}

.subTítuloForm{
    color: #E4AEC2;
    font-size: 50px;
    margin-block: 0;
  
}
.títuloForm {
  font-family: 'KG Always A Good Time', sans-serif;
  color: #E4AEC2;
  font-size: 45px;
  margin-block: 0;
}

input, textarea, select {
  width:340px;
  padding: 10px;
  margin-top: 10px; /* Ajusta según sea necesario */
  font-family: 'Baloo Chettan 2', sans-serif;

  font-size: 18px;
  border: none;
  border-bottom: 2px solid #E4AEC2;
  background-color: transparent;
}
input:focus{
  outline:none;/*tira borda ao clicar*/
} 
.role {
  display: flex;
  justify-content: space-around; /* Ajusta según sea necesario */
  align-items: center;
  margin-top: 20px; /* Ajusta según sea necesario */
  margin-right: 0;
}

.role label {
  margin-left: -50px;
  margin-right: -50px;
}
.submit {
  background: #E4AEC2;
  width: 131px;
  height: 54px;
  border-radius: 25px;
  color: #FCFBFB;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}
.btnCadastrar{
  color: #456872;
  cursor: pointer;
  border-bottom: none;
  font-weight: bold;
}
